*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
    background:#fafafa;
    color:#222;
    line-height:1.7;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    width:100%;
    display:block;
}

.navbar{
    max-width:1200px;
    margin:auto;
    padding:28px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.dot{
    width:10px;
    height:10px;
    background:#8b7cf6;
    display:inline-block;
    border-radius:50%;
    margin-left:8px;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:#666;
    transition:.25s;
}

nav a:hover{
    color:#8b7cf6;
}

.hero{

    max-width:1200px;

    margin:60px auto;

    padding:0 40px;

    display:grid;

    grid-template-columns:1.2fr .9fr;

    gap:70px;

    align-items:start;

}

.hello{

    color:#8b7cf6;

    font-size:24px;

    font-weight:700;

    margin-bottom:10px;

}

.hero h1{

    font-size:74px;

    line-height:1.05;

    margin-bottom:18px;

}

.subtitle{

    font-size:30px;

    color:#666;

    margin-bottom:25px;

}

.intro{

    font-size:22px;

    max-width:620px;

    color:#444;

}

.buttons{

    margin-top:40px;

    display:flex;

    gap:20px;

}

.button-primary{

    background:#8b7cf6;

    color:white;

    padding:16px 32px;

    border-radius:14px;

    font-weight:600;

    transition:.3s;

}

.button-primary:hover{

    transform:translateY(-3px);

}

.button-secondary{

    border:1px solid #ddd;

    padding:16px 32px;

    border-radius:14px;

    background:white;

}

.socials{

    margin-top:40px;

    display:flex;

    gap:28px;

}

.socials a{

    color:#666;

}
